.App {
  text-align: center;
  display:flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;bottom: 0;right: 0;left: 0;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}


.App-header {
  text-align: center;
}

.App-header h1 {
  font-size: 2em;
  color: #FF5733; /* Custom color for the main heading */
  margin: 0;
}

.App-header h3 {
  font-size: 1.5em;
  color: #FFFFFF; /* Color for the postal code header */
  margin: 10px 0;
}

.chatinputholder {
  padding: 24px;
  color: #4d4d4d;
  display: flex;
  justify-content: center; /* Center input horizontally */
}

.chatinput {
  width: 100%;
  max-width: 300px; /* Limit the width of the input field */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #4d4d4d;
  box-sizing: border-box; /* Ensure padding doesn't increase total width */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}